body{
    background-size: cover;
    height: 100%;
    background: url("field.jpg") center center fixed;

}
.aaa{
  display: inline-block;
  float: right;
  margin-right: 10px;
  color: white;
  font-family: tahoma;
  float: top;
  margin-top: 500px;
}

ul li{
  margin-left: 55px;
  opacity: 1;
}
.info2 li{
  margin-left: 80px;
}

.section h1{
  font-size: 50px;
}

.section h2{
  font-family: cursive;
  font-style: italic;
}

#logo{
  width: 43px;
  height: 43px;
  margin-top: -12px;
  margin-left: 10px;
}



.container-fluid{
  background-color: black;
  opacity: 0.7;
}


.text{
  width: 350px;
  height: 200px;
  float: right;

  margin-top: 450px;
  margin-right: 450px;
  opacity: 0.8;
}


.text p{
  height: 300px;
  width: 700px;
  font-size: 22px;
  padding: 5px;

  color:white;
  font-style: tahoma;
}

.info{
  width: 300px;
  height: 400px;
  margin-left: 200px;
  margin-top: 200px;
  font-size: 40px;
  background-color: black;
  opacity: 0.6;
  float: left;
}

.info2 li a{
  font-size: 20px;
  color: white;

}

.info2 li{
  margin-top: 45px;

}

.info2{
  margin-left: -50px;
  margin-top: 20px;

}
ul li{
  margin-left: 10%;
  opacity: 1;
  padding: 8px;
  font-size: 18px;

}
ul li a{
  color:#ffffff;
}
ul{
  width: 90%;
}
h1{
  font-size: 3rem;
  font: sans-serif;
  margin-top: 0;
  letter-spacing: .3rem;
}

h2{
  font-size: 40px;
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  margin: 0 auto;
  width:100%;

}
.logo{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}


.navbar navbar-inverse{
  position: fixed;
  height: 0px;
}

.navbar-brand{
  margin-top: 6px;

}

.bot{
  margin-top: -10px;
  height:450px;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
  z-index:10000;
  display:none;
}


.nav navbar-nav{
  position: fixed;
  width: 100%;
}
#logo{
  width: 43px;
  height: 43px;
  margin-top: -12px;
  margin-left: 10px;
}

.main input{
  height: 50px;
}

#exampleInputPassword1{
  height: 300px;
}

.main{
  width: 1600px;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  opacity: 0.8;
  border:solid;
  border-radius: 7px;
  font-size: 25px;
}

.main button {
  width: 100px;
  height: 40px;
}
.list-group{
  margin-top: 30px;
  margin-left: -140px;

}

.list-group li{
  color: black;
  margin-top: 20px;
  height: 80px;
  font-size: 25px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.table{
  position: absolute;
  margin-top: -180px;
  margin-left: -100px;
}

#air{
  height: 100px;
  width: 100px;
  margin-left: 200px;
  margin-top: -70px;
}
